@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
body {
    display: flex;
    font-family: 'Quicksand', sans-serif;
    background: #f3eee0;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

#container {
    width: 85%;
}

h1[class='target-page'] {
    position: relative;
    text-align: center;
    font-size: xx-large;
    margin-top: 5%;
    margin-bottom: 2%;
}
  
h1[class='target-page']::after {
    content: '';
    width: 10%;
    height: 1%;
    background-color: red;
    position: absolute;
    top: 100%;
    right: 45%;
}

.projects {
    display: flex;
    width: 100%;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-top: 20%;
    border-left: solid 5px lightblue;
    border-top: solid 5px lightblue;
    border-radius: 20px;
}

.single-project:last-child {
    margin-bottom: 8%;
}

.single-project {
    border-radius: 20px;
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(63,157,216,1) 0%, rgba(30,189,169,1) 100%);
    width: 100%;
    transition: 0.5s;
}

.single-project h3 {
    font-size: xx-large; 
    margin: 2%; 
    width: fit-content;
    cursor: pointer;
}

.single-project a {
    width: fit-content;
    text-decoration: none;
}

.single-project a:link, .single-project a:visited {
    color: blue;
}

.single-project a:hover {
    color: red;
}

.description {
    border-radius: 20px;
    width: 93%;
    display: flex;
    flex-direction: column;
}

.description p, .description a, .description object {
    margin: 2%;
}

.description object {
    height: 500px;
    width: 100%;
    overflow: scroll;
    border-radius: 10px;
}

.description p {
    font-size: large;
}

.title-programs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-programs {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.img-programs img {
    width: 10%
}

.disappear {
    display: none;
}

section:first-of-type {
    margin-top: 5%;
}

section > h2 {
    font-size: xx-large;
    font-family: 'Comfortaa', sans-serif;
    margin-top: 4%;
}

button {
    width: 50%;
    border: none;
    height: 2%;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 25%;
}

button:hover {
    background-color: lightblue;
}

@media screen and (max-width: 768px) {
    .description object {
        max-height: 60px;
    }
}